#title
  {
    display: none;
  }
#title:hover
  {
    background-color:white;
    color: rgba(63, 14, 15, 1);
    cursor:context-menu;
  }
.nav
  {
    overflow: hidden;
    background-color:white;
  }

.nav a
  {
    float: left;
    display: block;
    color: rgba(63, 14, 15, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    font-weight: bold;
  }

.nav a:hover
  {
    background-color: rgba(201, 141, 44, 1);
    color: white;
  }

.nav a.active
  {
    background-color: rgba(201, 141, 44, 1);
    color: white;
    float: right;
  }

.nav .icon
  {
    display: none;
  }

@media screen and (max-width: 750px)
{
  .nav a:not(:first-child)
    {
      display: none;
    }
  .nav a.icon
    {
      float: right;
      display: block;
    }
  #title
    {
      display: block;
    }
  h1
    {
      display: none;
    }
}

@media screen and (max-width: 750px)
{
  .nav.responsive
    {
      position: relative;
    }
  .nav.responsive .icon 
    {
      position: absolute;
      right: 0;
      top: 0;
    }
  .nav.responsive a 
    {
      float: none;
      display: block;
      text-align: left;
    }
}